<% unless controller_name == "sessions" %>
  <%= link_to t(:log_in), new_session_path(resource_name) %><br>
<% end %>

<% if devise_mapping.registerable? && controller_name != "registrations" %>
  <%= link_to t(:sign_up), new_registration_path(resource_name) %><br>
<% end %>
<h3><%= t "devise.login_via" %></h3>
<% if devise_mapping.omniauthable? %>
  <div>
    <% resource_class.omniauth_providers.each do |provider| %>
      <%= button_to omniauth_authorize_path(resource_name, provider), 
      class: "btn btn-block btn-social btn-#{t("#{provider}")}" do %>
      <span class="fa fa-<%= t "#{provider}" %>"></span>
      <%= t "#{provider}" %>
      <% end %>
    <% end %>
  </div>
<% end %>
