<fieldset>
  <%= f.label :answers %>
  <div class="answer-input">
    <span class="checkbox">
      <%= f.check_box :is_correct, class: "form-control" %>
    </span>
    <%= f.text_field :content, placeholder: t("words.check_answer"),
      class: "form-control text-input" %>
  </div>
  <%= f.hidden_field :_destroy %>
  <%= link_to t("words.remove_answer"), "#", class: "remove_fields" %>
</fieldset>
