<%= provide :title, @user.name %>
<div class="page-header">
  <section class="col-sm-4">
    <%= cl_image_tag @user.avatar_url :thumbnail %>
  </section>    
  <section class="user_info col-sm-4">
    <h1><%= @user.email %></h1>
  </section>
  <section class="stats col-sm-4">
    <%= render "shared/stats" %>
    <%= render "follow_form" %>
  </section>
</div>
<div class="content">
  <%= render_activities @activities %>
</div>
