<%= provide :title, @lesson.category.name %>
<div class="dn-front-group">
  <div class="col-md-6">
    <b><%= t "categories.category" %></b> : <%= @lesson.category.name %>
  </div>
  <div class="col-md-6">
    <p>
      <h3><%= t :question %></h3>
      <%= form_for [@lesson.category, @lesson] do |f| %>
        <%= f.fields_for :results do |result| %>
          <%= render "test_fields", f: result %>
        <% end %>
        <%= f.submit t(:finish), data: {confirm: t(:confirm)}, 
          class: "btn btn-primary" %>
      <% end %>
    </p>
  </div>
</div>
