<% provide :title, t("categories.index") %>
<h3><%= t "categories.index" %></h3>
<%= search_form_for @search, url: admin_categories_path do |f| %>
  <%= f.condition_fields do |c| %>
    <%= render "condition_fields", f: c %>
  <% end %>
  <div><%= link_to_add_fields_search t("categories.add_condition"), 
    f, :condition %></div>
  <div class="actions"><%= f.submit t("categories.search"), 
    class: "btn btn-primary" %></div>
<% end %>

<table>
  <tr>
    <th><%= sort_link @search, :name, t("table.name") %></th>
    <th><%= sort_link @search, :description, t("table.description") %></th>
  </tr>
  <% @categories.each do |category| %>
    <tr>
      <td><%= link_to category.name, admin_category_path(category) %></td>
      <td><%= category.description %></td>
    </tr>
  <% end %>
</table>
<%= paginate @categories %>
