<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": true %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet"
      href="http://www.w3schools.com/lib/w3.css">
    <%= render "layouts/shim" %>
  </head>
  <body class="w3-light-grey w3-content" style="max-width:1600px">
    <%= render "layouts/header" %>
    <div class="avatar-side">
      <%= render "layouts/flash" %>
      <%= render "layouts/side_profile" %>
      <div class="w3-main" style="margin-left:300px">
        <%= yield %>
      </div>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
